@{
    ViewBag.Title = "Cadastro de Clientes";

}
@using Charles_WebApplication.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>

        table {
            border-collapse: collapse;
            width: 1000px;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body style="padding-top: 50px;" id="page-top">
    <div style="padding: 10px">
        <h1 style="text-align: center">@ViewBag.Title</h1>
        <div style="padding: 10px; background-color: lightsteelblue; border-radius: 10px; width: 1000px; margin: 0 auto; ">
            <form method="post" action="@Url.Action("Salvar", "Home")" style="">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>

                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" required>

                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="telefone" required>

                <button style="margin-left: 100px" type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
        <div>
            <h1 style="text-align: center">Total de Clientes  @ViewBag.clientes.Count</h1>
        </div>
        <hr style="border-top: 2px solid #ccc;">

        <div id="modalEditar" style="display: none;  margin-bottom:10px" tabindex="-1">
            <h3 style="text-align:center">Editar Cliente</h3>
            <form style="width:900px;margin: 0  auto;text-align:center" id="formEditar" method="post" action="@Url.Action("EditarCliente", "Home")">
                <input type="hidden" name="Clienteid" id="editId" />
                <label for="editNome">Nome:</label>
                <input type="text" id="editNome" name="nome" required>

                <label for="editCpf">CPF:</label>
                <input type="text" id="editCpf" name="cpf" required>

                <label for="editTelefone">Telefone:</label>
                <input type="text" id="editTelefone" name="telefone" required>

                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
        <hr style="border-top: 2px solid #ccc;">


        <h2 style="text-align: center">Lista de Clientes</h2>
        <div style="margin-top: 10px; ">
            <div style="margin-top: 10px;">
                <table style="margin: 0 auto;">
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Acao</th>
                    </tr>
                    @foreach (Cliente cliente in ViewBag.clientes)
                    {
                        <tr>
                            <td>@cliente.Nome</td>
                            <td>@cliente.Cpf</td>
                            <td>@cliente.Telefone</td>
                            <td>
                                <form method="post" action="@Url.Action("Excluir", "Home")">
                                    <input type="hidden" name="id" value="@cliente.Clienteid" />
                                    <button class="btn btn-danger" type="submit">Excluir</button>
                                </form>
                                <button class="btn btn-primary editar" data-id="@cliente.Clienteid" data-nome="@cliente.Nome" data-cpf="@cliente.Cpf" data-telefone="@cliente.Telefone">Editar</button>
                            </td>

                        </tr>
                    }
                </table>

            </div>

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var editarButtons = document.querySelectorAll('.editar');
            var modalEditar = document.getElementById('modalEditar');
            var formEditar = document.getElementById('formEditar');
            var editId = document.getElementById('editId');
            var editNome = document.getElementById('editNome');
            var editCpf = document.getElementById('editCpf');
            var editTelefone = document.getElementById('editTelefone');

            editarButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var id = this.getAttribute('data-id');
                    var nome = this.getAttribute('data-nome');
                    var cpf = this.getAttribute('data-cpf');
                    var telefone = this.getAttribute('data-telefone');

                    editId.value = id;
                    editNome.value = nome;
                    editCpf.value = cpf;
                    editTelefone.value = telefone;

                    modalEditar.style.display = 'block';
                    modalEditar.focus(); // Define o foco no modal de edição
                });
            });

            formEditar.addEventListener('submit', function () {
                modalEditar.style.display = 'none';
            });
        });
    </script>

</body>
</html>


