@model NET_Framework_MVC.Models.LivroModel

@{
    ViewBag.Title = "Novo Livro";
}

<h2>Novo Livro</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <section class="card vw-100 ">
        <div class="card-header">
            <h3>Digite as informações do novo livro</h3>
        </div>
        <div class="card-body d-flex w-auto  justify-content-center" >
            <div class="form-horizontal ">
                <h4>Livro</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Categoria, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Categoria, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
                    
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Autor, htmlAttributes: new { @class = "control-label " })
                 
                        @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Autor, "", new { @class = "text-danger" })
              
                </div>

                <div class="form-group d-flex justify-content-end my-2">
           
                        <input type="submit" value="Salvar" class="btn btn-outline-primary" />
                  
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div>
                @Html.ActionLink("Voltar", "Index")
            </div>
        </div>

    </section>

   
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
