@{
    ViewBag.Title = "Lista Livros";
}
@using NET_Framework_MVC.Models;

<main class="container my-5">

    <div class="my-5">Todos os livros </div>
    <h1 class="my-5">Todos os livros </h1>


    @Html.ActionLink("Novo Livro", "Create", "Livro", new { }, new { @class = "btn btn-primary" })



    <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Categoria</th>
            </tr>
        </thead>
        <tbody>
            @foreach (LivroModel livro in ViewBag.livros)
            {
                <tr>
                    <th scope="row">@livro.Id</th>
                    <td>@livro.Titulo</td>
                    <td>@livro.Autor</td>
                    <td>@livro.Categoria</td>
                </tr>
            }
        </tbody>
    </table>
</main>